06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_air_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_bangee_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_espswing1_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_espswing2_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_leaf1_1_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_leaf1_2_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_leaf1_3_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_logwall_break_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_logwall_damage_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_lotus1_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_lotus2_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_stg_amb_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_stg_amb_Loop.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_stone_lope_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_tarzan_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_tarzan_jump_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_tarzan_Loop.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_turtle1_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_turtle2_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_turtle2_Loop.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_turtle3_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_water1_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_water2_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_woodwall_break_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/Audio/Synth_woodwall_damage_Intro.adx
06 Project SFX/Tropical Jungle/stage_tpj/stage_tpj.csbproject
In-Game Hints/2024/English/Binary/STH2006_HINT_EN.cpk
In-Game Hints/2024/English/Binary/STH2006_HINT_EN.csb
In-Game Hints/2024/Japanese/Binary/STH2006_HINT_JP.cpk
In-Game Hints/2024/Japanese/Binary/STH2006_HINT_JP.csb
In-Game Hints/2024/English/Binary/06 Hints FINAL FINAL FINAL ENGLISH.7z
In-Game Hints/2024/Japanese/Binary/06 Hints FINAL FINAL FINAL JAPANESE.7z
In-Game Hints/2024/Hints Final Build June 5th 2025.7z
In-Game Hints/2024/STH2006_HINT_EN.cpk
In-Game Hints/2024/STH2006_HINT_EN.csb
In-Game Hints/2024/STH2006_HINT_JP.cpk
In-Game Hints/2024/STH2006_HINT_JP.csb
In-Game Hints/2024/Hints Final Build July 14th 2025.7z
In-Game Hints/2024/English/Binary/Binary Double Dashes Removed.7z
In-Game Hints/2024/2024.7z
